NODE_ENV=production
# Server Configuration
PORT=3000
HOST=0.0.0.0

# Add your application specific environment variables
SMTP_USERNAME="youremail@.com"
SMTP_PASSWORD="yourpassword"
SMTP_PORT=587
SMTP_SERVER="mail.youremail.com"
